@font-face {
  font-family: 'TT Firs Neue';
  src: local("../fonts/TTFirsNeue-Bold/TT Firs Neue Bold"), local("TT-Firs-Neue-Bold"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.woff") format("woff"), url("../fonts/TTFirsNeue-Bold/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("../fonts/GothamPro-Bold/Gotham Pro Bold"), local("Gotham-Pro-Bold"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.eot");
  src: url("AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/Avenir-Next-Cyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes introDrill {
  0%, 100% {
    -webkit-transform: translate3d(0%, 10%, 0);
            transform: translate3d(0%, 10%, 0);
  }
  50% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes introDrill {
  0%, 100% {
    -webkit-transform: translate3d(0%, 10%, 0);
            transform: translate3d(0%, 10%, 0);
  }
  50% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes slideOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes circle--1 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 31.25vw;
    width: 31.25vw;
    opacity: 0;
  }
}

@keyframes circle--1 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 31.25vw;
    width: 31.25vw;
    opacity: 0;
  }
}

@-webkit-keyframes circle--2 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 62.5vw;
    width: 62.5vw;
    opacity: 0;
  }
}

@keyframes circle--2 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 62.5vw;
    width: 62.5vw;
    opacity: 0;
  }
}

@-webkit-keyframes circle--3 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 93.75vw;
    width: 93.75vw;
    opacity: 0;
  }
}

@keyframes circle--3 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 93.75vw;
    width: 93.75vw;
    opacity: 0;
  }
}

@-webkit-keyframes circle--4 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 114.58333vw;
    width: 114.58333vw;
    opacity: 0;
  }
}

@keyframes circle--4 {
  0% {
    height: 10.41667vw;
    width: 10.41667vw;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    height: 114.58333vw;
    width: 114.58333vw;
    opacity: 0;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0E0E0E;
  font-family: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
}

.container__p80 {
  padding: 0 80px;
}

.container__p80--border {
  padding: 0 78px;
}

.container__p160 {
  padding: 0 160px;
}

.container--border {
  border-left: 2px solid #F6F6F6;
  border-right: 2px solid #F6F6F6;
}

.link__click {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.link__click:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 15;
  -webkit-transition: background .2s ease-in, border .2s ease-in;
  transition: background .2s ease-in, border .2s ease-in;
}

.header--black {
  color: #fff;
  border-bottom: 2px solid transparent;
}

.header--black .header__svg {
  fill: #fff;
}

.header--white {
  color: #5C6266;
  border-bottom: 2px solid #F6F6F6;
  background-color: #fff;
}

.header--white .header__svg {
  fill: #5C6266;
}

.header__burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  padding: 30px;
  height: 80px;
  width: 80px;
  background-color: #5C6266;
}

.header__burger--line {
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  margin-bottom: 4px;
}

.header__inner {
  height: 100%;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 97px 0 22px;
}

.header__logo-svg {
  fill: #fff;
  -webkit-transition: fill .2s ease-in;
  transition: fill .2s ease-in;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  font-size: 14px;
}

.header__link {
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 35px;
  padding: 27px 25px;
  border-bottom: 4px solid transparent;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.header__link:hover {
  border-color: #FFCB05;
}

.header__phone {
  font-family: "Open Sans", sans-serif;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 45px;
}

.header__phone:first-child {
  margin-left: 0;
}

.header__phone--name {
  font-weight: 700;
}

.screen {
  height: 100vh;
  position: relative;
}

.screen--white {
  background-color: #fff;
}

.intro {
  padding-top: 80px;
  color: #fff;
  position: relative;
}

.intro__svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.intro__svg--disable {
  z-index: -4;
}

.intro__circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  opacity: 0.5;
  border: 2px solid #FFCB05;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 11.4%;
  top: 51.7%;
}

.intro__circle--1 {
  -webkit-animation: circle--1 7s linear infinite;
          animation: circle--1 7s linear infinite;
}

.intro__circle--2 {
  -webkit-animation: circle--2 14s linear infinite;
          animation: circle--2 14s linear infinite;
}

.intro__circle--3 {
  -webkit-animation: circle--3 21s linear infinite;
          animation: circle--3 21s linear infinite;
}

.intro__circle--3 {
  -webkit-animation: circle--4 28s linear infinite;
          animation: circle--4 28s linear infinite;
}

.intro__content {
  font-family: "Open Sans", sans-serif;
  margin-top: 27.1vh;
  margin-left: 160px;
  z-index: 30;
}

.intro__title {
  font-weight: bold;
  font-size: 96px;
  line-height: 140%;
}

.intro__title__first-word {
  color: #FFCB05;
}

.intro__subtext {
  font-weight: normal;
  font-size: 25px;
  line-height: 204.27%;
  max-width: 1100px;
}

.intro__image {
  position: absolute;
  z-index: -1;
  width: 110vw;
  left: -110px;
  bottom: -70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: introDrill 60s infinite linear;
          animation: introDrill 60s infinite linear;
}

.intro__ring {
  opacity: 0.75;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  stroke: #FFCB05;
  stroke-width: 3;
  fill: none;
  opacity: 1;
}

.intro__ring__2 {
  opacity: .7;
}

.intro__ring__3 {
  opacity: .45;
}

.intro__ring__4 {
  opacity: .15;
}

.intro__ring--hide {
  opacity: 0;
}

.intro__ring--disable {
  opacity: 0.05;
  stroke-width: 5px;
  z-index: -5;
  stroke: #5C6266;
}

.about_us {
  height: 45vh;
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  line-height: 204.27%;
}

.about_us__title {
  margin: 40px 80px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.about_us__text {
  margin: 0 160px 40px 160px;
  font-size: 25px;
}

.about_us__more {
  margin: 0 160px 40px 160px;
  text-transform: uppercase;
  font-weight: 700;
  color: #101010;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .4s ease;
  transition: border .4s ease;
}

.about_us__more:hover {
  border-color: #101010;
}

.btn__more {
  position: relative;
  padding-right: 40px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.btn__more--white {
  color: #fff;
}

.btn__more--white .btn__more::after {
  border-color: #fff;
}

.btn__more::after {
  content: '';
  position: absolute;
  display: block;
  height: 8px;
  width: 8px;
  top: 50%;
  right: 15%;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: inherit;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
          transform: rotate(45deg) translate3d(0, -50%, 0);
}

.btn__more:hover::after {
  -webkit-transform: rotate(45deg) translate3d(200%, -250%, 0);
          transform: rotate(45deg) translate3d(200%, -250%, 0);
}

.products {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  z-index: -5;
}

.products__card {
  height: 100%;
  width: 33.33333%;
  overflow: hidden;
  position: relative;
  border-left: 2px solid rgba(204, 204, 204, 0.3);
}

.products__card:first-child {
  border: none;
}

.products__card:hover .products__btn {
  opacity: 1;
}

.products__card:hover li {
  -webkit-animation: slideOutDown 2s;
          animation: slideOutDown 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.products__card:hover li:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.products__card:hover li:nth-child(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.products__card:hover .products__load {
  width: 100%;
  -webkit-transition: width 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
  transition: width 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
}

.products__card:hover .products__image {
  -webkit-transform: scale(1.3) translateY(-5%);
          transform: scale(1.3) translateY(-5%);
}

.products__card:hover .products__image--screen-2 {
  -webkit-transform: scale(1.3) translateY(10%);
          transform: scale(1.3) translateY(10%);
}

.products__card:hover .products__image--screen-3 {
  -webkit-transform: scale(1) translateY(0%);
          transform: scale(1) translateY(0%);
}

.products__title {
  margin: 60px;
  font-family: "Gotham Pro", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  z-index: 10;
}

.products__list {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  z-index: 10;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.products__list > li {
  opacity: 0;
}

.products__link {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 90px 40px 90px;
}

.products__link a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.products__link a:hover {
  border-color: rgba(204, 204, 204, 0.5);
}

.products__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  display: block;
  height: 1px;
  width: 10px;
  border: 1px solid #fff;
}

.products__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
  transition: -webkit-transform 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
  transition: transform 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
  transition: transform 10s cubic-bezier(0.38, 0.5, 0.47, 0.99), -webkit-transform 10s cubic-bezier(0.38, 0.5, 0.47, 0.99);
}

.products__image--screen-2 {
  top: -30%;
  right: -40%;
}

.products__image--screen-3 {
  top: -130%;
  -webkit-transform: scale(1.3) translateY(-5%);
          transform: scale(1.3) translateY(-5%);
}

.products__load {
  width: 0%;
  height: 2px;
  background-color: #FFCB05;
  position: absolute;
  bottom: 12%;
  left: 0%;
}

.products__btn {
  opacity: 0;
  position: absolute;
  bottom: 6.5%;
  left: 10%;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
